.h3 {
    color: white
}

.card {
    width: 300px;
    background-repeat: no-repeat;
}

.card-body {
    height: 300px;
}

body {
    background-color: black;
}

.headline {
    color: white;
}

.colo {
    margin-top: 10px;
}