 {% extends 'base.html' %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"> {% endblock %} {% block content %}
<div class="container">
    <div class="row">

    </div>
</div>
{% for headline in headlines %}



<div class="col-md-4">
    <div class="card">
        <div class="card-body">

            <img src="{{headline.urlToImage}}" width="300">
            <h4 class="headline">{{headline.title}}</h4>
            <p>{{headline.publishedAt}}</p>


        </div>


    </div>
</div>
</div>
</div>



{% endfor %}

</div>
</div>
{% endblock %}