 {% extends 'base.html' %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"> {% endblock %} {% block content %}
<h3 class="headline text-uppercase headings h3 text-center pt-5 ">Current headlines</h3>
<hr> {% for headline in headlines %}



<div class="colo col-md-4 ">
    <div class="card">
        <div class="card-body m-2">

            <a class="image" href=""><img class="image-1" src="{{headline.urlToImage}}" width="330"></a>
            <h4 class="headline">{{headline.title}}</h4>
            <p>{{headline.publishedAt}}</p>


        </div>


    </div>
</div>
</div>
</div>



{% endfor %}




</div>
</div>




<h1 class="text-center pt-5 color-white">tech field</h1>
{% include 'tech.html' %} {% endblock %}